<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Portfolio/Resume Theme for Developers</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">  
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css"> 

    <!-- FontAwesome JS -->
    <%= javascript_include_tag('js/all.js') %>
    <%= javascript_include_tag('popper.min.js') %>
    
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <!-- Custom stylesheets -->
    <%= stylesheet_link_tag 'styles.css' %> 
    <%= stylesheet_link_tag 'custom.css' %>
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">     
	        <div class="row align-items-center">
			    <div class="col">         
		            <%= image_tag('profile.png', class: 'profile-image img-fluid float-start rounded-circle', alt: 'profile image') %>
		            <div class="profile-content">
		                <h1 class="name" style="padding-left: 30px;">Gary "Allen" Russell Jr </h1>
		                <h1 class="desc" style="padding-left: 30px;">Web Developer | Freelance Musician</h1>
                        <h1 class="desc" style="padding-left: 30px;">Denver, Colorado</h1>

		                <ul class="social list-inline">
		                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/garyallenrusselljr/"><i class="fab fa-linkedin-in"></i></a></li>
		                    <li class="list-inline-item"><a href="https://github.com/garussell"><i class="fab fa-github-alt"></i></a></li> 
		                    <li class="list-inline-item"><a href="https://terminal.turing.edu/profiles/1977"><img src="https://terminal.turing.edu/assets/turing_logo_gray-2bc6bdc736890907f536f2d188d7d20ffe8e8b28764bdc724867dcfb78cd1b77.png" alt="Turing Logo" style="width: 34px; height: 34px; background-color: 'current color'; margin-top: 1px;"></a></li> 
		                    <li class="list-inline-item"><a href="https://stackoverflow.com/users/21287361/allenrussell"><i class="fab fa-stack-overflow"></i></a></li>                  
		                    <li class="list-inline-item"><a href="https://medium.com/@allenrusselldev"><i class="fab fa-medium"></i></a></li> 
    
                        </ul> 
		            </div><!--//profile-->
			    </div><!--//col-->
	            <div class="col-12 col-md-auto">
		            <div class="dark-mode-switch d-flex">
						<div class="form-check form-switch mx-auto mx-md-0">
							<input type="checkbox" class="form-check-input me-2" id="darkSwitch" />
							<label class="custom-control-label" for="darkSwitch">Dark Mode</label>
						</div>
			        </div><!--//dark-mode-switch-->
	                <a class="" href="https://www.linkedin.com/in/garyallenrusselljr/overlay/contact-info/" target="_blank"><i class="fas fa-paper-plane"></i> Contact Me</a>        
	            </div><!--//col-->
	        </div><!--//row-->         
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper py-5">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h1 class="heading">Curriculum Vitae</h1><br />
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I'm a Denver-based Software Developer with over a decade of human services mid-level management experience, focusing on connecting individuals to vital resources and improving mental health. My public service social work background has instilled empathy and a commitment to human-centered approaches.</p>
                            <p>Now in my late 30s, I've transitioned into technology and engineering, bringing a wealth of knowledge and a passion for building. I leverage my skills in listening to people's stories to resolve issues using high-tech web solutions.</p>
                            <p><strong>Tech Transition</strong></p>
                            <p>My tech transition is owed to the Turing community and ongoing training from platforms like The Cloud Bootcamp, CodeAcademy.com, LinkedIn, and gaining inspiration from meetups. While Ruby and Ruby on Rails hold a special place in my heart, I've explored Python, dabbled in C# via Turing's "Launch" curriculum, and also a collaborative project that used GoLang. To match my front-end skills with my back-end, I have shifted my focus to React after months of vanilla JavaScript.  Furthermore, I have used Java with IntelliJ IDEA to build simplified versions of data structures including Blockchains, and a Simple-Aged-Cache through continued studies at CU Boulder for Computer Science.</p>
                            <p>I excel in building fast back-ends pulling data from microservices, serving clean JSON structures to the front end with user authentication best practices, and data from PostgreSQL models. I follow Test-Driven Development (TDD), having robust test suites in my applications in addition to load testing with Locust, and using Postman to test API requests and validate them with assertions.  I also adhere to principles of Behavior Driven Development (BDD) when "dream driving", particularly on the front-end</p>
                            <p><strong>Tools & Processes</strong></p>
                            <p>My development process includes using Git for version control, and GitHub for collaboration. I have experience with Agile methodologies, and I'm comfortable with pair programming as well as working in a remote environment. I'm familiar with CD/CI, having used CircleCI, GitHub Actions, and Heroku, and I'm familiar with Docker and Kubernetes. My expertise includes managing deployments with Terraform to orchestrate Kubernetes clusters across multiple cloud platforms, including AWS and Google Cloud.</p>
                            <p>I have primarily used a RESTful API design and implementation, but I have one project with GraphQL and am familiar with WebSockets. I have focused a great deal on accessibility and user authentication, having experience with Auth0 by Okta, Google OAuth, and JSON Web Tokens (JWT). I use Redis for caching API data and Sidekiq for background jobs, and I'm becoming increasingly familiar with AI and machine learning, having used OpenAI API and TensorFlow. I completed an Udemy course on CyberSecurity and Networking, and I'm familiar with Quality Assurance as well.</p>
                            <p>In my development work with Ruby on Rails, I rely on gems like VCR/Webmock, shoulda-matchers, jsonapi-serializer, factorybot/faker, launchy, orderly, pry, as well as rubocop and codeclimate, to boost productivity and maintain high coding standards.  I have also successfully implemented ActionMailer, ActiveStorage, well versed in ActiveRecord, ActiveJob, ActionCable, and utilizing gems for Tailwind and Bootstrap, as well as importing JavaScript libraries such as Leaflet.</p>
                            <p><strong>Learning Path</strong></p>
                            <p>I leaned hard into DevOps for a while to close the knowledge gap between myself and opportunities within Cloud Development using Google Cloud, AWS, and Azure, with automation via Terraform.  I believe this sets me apart as Cloud Computing is quickly becoming the industry standard.  I am also enrolled in "pre-enrollment" courses through CU Boulder, which include "Fundamentals of Software Architecture for Big Data," "Software Architecture Patterns for Big Data", and "Applications of Software Architecture for Big Data" as prerequisites for the MS-CS degree.</p>
                            <p>I am dedicated to my goal of becoming a Senior Developer.  I am human-centered, a proven team player, and eager to embrace challenges. My professional experiences, coupled with my technical skills, equip me to tackle complex problems and deliver innovative solutions. I feel like my tech journey is just beginning.  I am humbled, and I'm excited about what lies ahead.</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Latest Projects</h2>
                        <div class="content"> 
                            <div class="item row">
                                    
                                    <div class="featured-image has-ribbon">
                                        <a href="https://github.com/garussell/PresentMind" target="_blank">
                                        <%= image_tag('projects/present-mind-schema.png', class: 'img-fluid project-image rounded shadow-sm', alt: 'project name') %>
                                        </a>
                                        <div class="ribbon">
                                            <div class="text">New</div>
                                        </div>
                                    </div>
                                    
                                    <h2 class="title mb-3"><a href="https://github.com/garussell/PresentMind" target="_blank">PresentMind API</a><span class="badge badge-theme">API </span> <span class="badge project-type">Solo Project</span></h2>
                                        
                                    <div class="desc text-start">                                    
                                        <p>PresentMind API is the back-end API for a health and therapy tracking application that uses Auth0 and has therapist and patient profiles. The back-end uses PostgreSQL, and Rails, exposing 52 endpoints with consumed data from several health related APIs. A robust design with 11 tables and data is analyzed for patterns, correlations between mood and behaviors.</p>
                                    </div><!--//desc-->         
                                    <a class="more-link" href="https://github.com/garussell/PresentMind" target="_blank"><i class="fas fa-external-link-alt"></i> Checkout on GitHub</a>                 
                                </div><!--//item-->    
                            <div class="item row">
                                    
                                    <div class="featured-image has-ribbon">
                                        <a href="https://www.loom.com/share/abffe1ccf504409a8d1cb5345753eb7f" target="_blank">
                                        <%= image_tag('projects/unspin-mail.png', class: 'img-fluid project-image rounded shadow-sm', alt: 'project name') %>
                                        </a>
                                    </div>
                                    
                                    <h2 class="title mb-3"><a href="https://www.loom.com/share/abffe1ccf504409a8d1cb5345753eb7f" target="_blank">UnSpin News Mailer</a><span class="badge badge-theme">Full Stack </span> <span class="badge project-type">Solo Project</span></h2>
                                        
                                    <div class="desc text-start">                                    
                                        <p>This project uses ActionMailer with NewsApi to create a straight forward mailer. There is one API call per day which is written to a Redis cache, and each subscriber receive's a daily news brief based on their selected categories via scheduled Job and emailed per Sidekiq, as long as they are 'confirmed'.</p>
                                    </div><!--//desc-->         
                                    <a class="more-link" href="https://github.com/garussell/subscription_news_mailer" target="_blank"><i class="fas fa-external-link-alt"></i> Checkout on GitHub</a>                 
                                </div><!--//item--> 
                            <div class="item row">
                                
                                <div class="featured-image has-ribbon">
                                    <a href="https://www.loom.com/share/2a21a2152b024118bf7d3df30188410d" target="_blank">
                                    <%= image_tag('projects/artist-assist.png', class: 'img-fluid project-image rounded shadow-sm', alt: 'project name') %>
                                    </a>
                                </div>
                                
                                <h2 class="title mb-3"><a href="https://www.loom.com/share/2a21a2152b024118bf7d3df30188410d" target="_blank">AiArtistAssist </a><span class="badge badge-theme">Full Stack </span> <span class="badge project-type">Solo Project</span></h2>
                                    
                                <div class="desc text-start">                                    
                                    <p>AiArtistAssist uses OpenAI API to create images and provides action steps and resources to help artists with their ideas. It uses Rails ActiveStorage for file uploads and primarily focuses on fine-tuning AI responses.</p>
                                </div><!--//desc-->         
                                <a class="more-link" href="https://github.com/garussell/aiArtistAssist" target="_blank"><i class="fas fa-external-link-alt"></i> Checkout on GitHub</a>                 
                            </div><!--//item-->                   
                            <div class="item row">
                                
                                <div class="featured-image has-ribbon">
                                    <a href="https://gear-up-ui-ux.vercel.app/" target="_blank">
                                    <%= image_tag('projects/gear-up.png', class: 'img-fluid project-image rounded shadow-sm', alt: 'project name') %>
                                    </a>
                                
                                </div>
                                
                                <h2 class="title mb-3"><a href="https://gear-up-ui-ux.vercel.app/" target="_blank">Gear Up </a><span class="badge badge-theme">Full Stack </span> <span class="badge project-type">Group Project</span></h2>
                                    
                                <div class="desc text-start">                                    
                                    <p>GearUP is a crowdfunding app for artists to request supplies they need. It is a full-stack SOA application that utilizes GraphQL to communicate between the front and back end. The back end also utilizes Sidekiq and Action Mailer to send confirmation and update emails to its users. There is an option to create an account to add a new post, or donors can search and select a project to donate to without having to create an account.</p>
                                </div><!--//desc-->         
                                <a class="more-link" href="https://github.com/orgs/gearup-2305/repositories" target="_blank"><i class="fas fa-external-link-alt"></i> Checkout on GitHub</a>                 
                            </div><!--//item-->
                            <hr class="divider" />
                            <div class="item row">
                                <a class="col-md-4 col-12" href="https://next-steps-xu92.onrender.com/" target="_blank">
                                <%= image_tag('projects/next-steps.png', class: 'img-fluid project-image rounded shadow-sm', alt: 'project name') %>
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h2 class="title"><a href="https://next-steps-xu92.onrender.com/" target="_blank">Next Steps </a><span class="badge badge-theme">Full Stack</span> <span class="badge project-type">Group Project</span></h2>
                                    <p class="mb-2">Next Steps is an idea that I pitched for a Consultancy project in Turing, inspired by my previous professional experience. It is a full-stack group project that leverages the 211 API along with geolocation to assist individuals in finding community resources in their vicinity. We thought it was particularly important to create search options catered to persons who may not have the ability to navigate existing resources.</p>
                                    <p><a class="more-link" href="https://github.com/garussell/next-steps" target="_blank"><i class="fas fa-external-link-alt"></i>Checkout on GitHub</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                            <br />
                            <div class="item row">
                                <a class="col-md-4 col-12" href="https://github.com/garussell/road_trip_planner_be" target="_blank">
                                <%= image_tag('projects/road-trip-be.png', class: 'img-fluid project-image rounded shadow-sm', alt: 'project name') %>
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h2 class="title"><a href="https://github.com/garussell/road_trip_planner_be" target="_blank">Road Trip Planner BE </a><span class="badge badge-theme">API</span> <span class="badge project-type">Solo Project</span></h2>
                                    <p class="mb-2">Road Trip Planner BE is a back-end project that exposes multiple API endpoints to make data available from MapQuest API, Unsplash API, OpenLibrary API, MovieDB API, and Weather API. It allows the front-end to obtain JSON data that contains weather information for a city, where the city and state are passed in the URL body as a location param, and units (imperial or metric) passed in as an optional param. The result exposed 6 end-points that can be accessed by front-end after obtaining unique, secure API-key.</p>
                                    <p><a class="more-link" href="https://github.com/garussell/road_trip_planner_be" target="_blank"><i class="fas fa-external-link-alt"></i>Checkout on GitHub</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->

                            <div class="item row">
                                <a class="col-md-4 col-12" href="https://github.com/garussell/road-trip-planner" target="_blank">
                                <%= image_tag('projects/road-trip-fe.png', class: 'img-fluid project-image rounded shadow-sm', alt: 'project name') %>
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h2 class="title"><a href="https://github.com/garussell/road-trip-planner" target="_blank">Road Trip Planner FE </a><span class="badge badge-theme">UI</span> <span class="badge project-type">Solo Project</span></h2>
                                    <p class="mb-2">Road Trip Planner is the front-end project that utilizes Road Trip Planner BE using React.</p>
                                    <p><a class="more-link" href="https://github.com/garussell/road-trip-planner" target="_blank"><i class="fas fa-external-link-alt"></i>Checkout on GitHub</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            <br />
                             <div class="item row">
                                <a class="col-md-4 col-12" href="https://github.com/garussell/movie_party" target="_blank">
                                <%= image_tag('projects/movie-party.png', class: 'img-fluid project-image rounded shadow-sm', alt: 'project name') %>
                                </a>
                                <div class="desc col-md-8 col-12">
                                    <h2 class="title"><a href="https://github.com/garussell/movie_party" target="_blank">Movie Party </a><span class="badge badge-theme">Back-end</span> <span class="badge project-type">Group Project</span></h2>
                                    <p class="mb-2">Movie Party is the back-end of an application with server-rendered views, in which users can explore movie options and create a viewing party event for themselves and other users of the application.  It utilized the MovieDB API where parameters are passed throughout the application and can be rendered using http://localhost:3000.</p>
                                    <p><a class="more-link" href="https://github.com/garussell/movie_party" target="_blank"><i class="fas fa-external-link-alt"></i>Checkout on GitHub</a></p>
                                </div><!--//desc-->                          
                            </div><!--//item-->
                            
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                
                </section><!--//section-->
               
                <section class="projects section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Other Projects</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title"><a href="https://github.com/garussell/money_market_fe" target="_blank">Money Market </a> <span class="badge badge-theme">Full Stack</span> <span class="badge project-type">Solo Project</span></h3>
                                <p class="summary">The Money Market Frontend is the client-side application for the Money Market project. It provides a user-friendly interface for managing financial transactions, monitoring account balances, and keeping track of investments. This application is built with Ruby on Rails, using frontend technologies such as HTML, CSS. The back-end of Market Money is an API designed to help users find sustainable and local alternatives in their area. The API provides various endpoints that allow users to search for markets, vendors, and more. It incorporates testing, error handling, SQL/AR, and integration with the TomTom API</p>
                                <p><a class="more-link" href="https://github.com/garussell/market_money_api_be" target="_blank"><i class="fas fa-external-link-alt"></i>Back-End Repo</a></p>
                            </div><!--//item-->
                            
                            <a class="col-md-4 col-12" href="https://github.com/garussell">More on GitHub <i class="fas fa-chevron-right pt-1"></i></a>
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
              
                <section class="github section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">GitHub Calendar</h2>
                        <div id="github-graph" class="github-graph">
                            <a href="https://github.com/garussell" target="_blank">
                            <img src="http://ghchart.rshah.org/garussell" alt="garussell's Github chart" />
                            </a>

                        </div><!--//github-graph-->
                    </div>
                </section><!--//section-->
           
                <section class="experience section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <div class="d-flex align-items-center">
                                    <h3 class="title">Freelance Musician - <span class="place"><a href="#">Independent Contractor</a></span> <span class="year">(2003 - <strong>Present</strong>)</span></h3>
                                    <h5 class="desc mx-4" id="watch-me-drum" style=><a href='https://www.youtube.com/channel/UC_PbG09bgbWRS9dG3rlaerw'><i class="fab fa-youtube"></i> Watch Me Drum</a></h5>                                    
                                </div>

                                <li>Devoted decades of technical drumming and percussion to helping local bands achieve a world-class sound.</li>
                                <li>Instructed hundreds of students in music interpretation and performance, fostering self-expression and community engagement.</li>
                                <li>Practiced in polyrhythms, dynamic control, balance, syncopation, rudiment interpretation and execution, advanced technique, quality of sound, and showmanship.</li>
                                <li>Proficient in music tech: DAWs (Ableton, Reason, Logic, Protools), studio/live recording tech applications and practice tools.</li>
                            </div><!--//item-->
                            
                            <div class="item">
                                <h3 class="title">Clinical Care Manager - <span class="place"><a href="https://www.rmhumanservices.org/">Rocky Mtn Human Services</a></span> <span class="year">(2022 - 2023)</span></h3>
                                <li>Played a key role in advancing EHR system development by employing analytical problem-solving skills within an active Agile group.</li>
                                <li>Ensured the timely completion of admin, management, and user profile checkpoints during the development process.</li>
                                <li>Successfully collaborated within the Forensic Support Team of the Community Transitions program.</li>
                                <li>Established strong connections with partners and customers across 16 counties to enhance teamwork and program effectiveness.</li>
                                <li>Utilized technology to connect individuals with relevant resources, leading to improved program transitions and positive outcomes for numerous individuals.</li>

                            </div><!--//item-->
                           
                            <div class="item">
                                <h3 class="title">Music Teacher - <span class="place"><a href="https://www.schoolofrock.com/locations/broomfield">School of Rock</a></span> <span class="year">(2021 - 2022)</span></h3>
                                <li>Implemented a web-based learning system to organize lessons efficiently, improve interaction between teachers and students, and enhance overall learning efficiency and customer success.</li>
                                <li>Instructed drums, guitar, and piano for both youth and adults, achieving approximately 25% higher student retention and satisfaction through personalized instruction and tailored approaches.</li>

                            </div><!--//item-->
                           
                            <div class="item">
                                <h3 class="title">Music Teacher - <span class="place"><a href="https://www.bachtorock.com/johnscreek/">Bach to Rock</a></span> <span class="year">(2019 - 2020)</span></h3>
                                <li>Delivered comprehensive instruction in drums, guitar, piano, and vocals to enhance students' proficiency across all instruments.</li>
                                <li>Cultivated increased engagement and active participation, leading to positive feedback from over 90% of students and their families, thereby boosting musical appreciation and confidence.</li>

                            </div><!--//item-->
                            
                            <div class="item">
                                <h3 class="title">Housing Case Manager - <span class="place"><a href="https://www.mhpcolorado.org/">Mental Health Partners</a></span> <span class="year">(2019 - 2020)</span></h3>
                                <li>Offered counseling and case management services to clients facing mental/behavioral health challenges, physical disabilities, and housing issues.</li>
                                <li>Adhered to HIPPA regulations while handling customer complaints with patience and professionalism.</li>
                                <li>Facilitated housing placements and connected hundreds of individuals to community resources.</li>
                                <li>Utilized a collaborative team approach, effective communication strategies, and empathy to achieve a significant reduction in crises.</li>

                            </div><!--//item-->
                          
                            <div class="item">
                                <h3 class="title">Care Coordinator - <span class="place"><a href="https://www.mhpcolorado.org/">Mental Health Partners</a></span> <span class="year">(2019 - 2020)</span></h3>
                                <li>Delivered impactful Supportive Counseling, life coaching, and Targeted Case Management services to clients.</li>
                                <li>Improved clients' emotional well-being and self-awareness, as evidenced by self-report survey data.</li>
                                <li>Facilitated treatment adherence and goal achievement by providing assistance with technology and practical steps.</li>
                                <li>Helped clients navigate local resources for therapy, substance abuse treatment, housing, and connection to medical providers.</li>

                            </div><!--//item-->
                         
                            <div class="item">
                                <h3 class="title">Deputy Sheriff - <span class="place"><a href="https://adamssheriff.org/contact-us">Adams County Sheriff's Office</a></span> <span class="year">(2014 - 2018)</span></h3>
                                <li>Utilized Record and Jail Management Systems for processing and maintaining confidential records, achieving 95-100% accuracy through cross-referencing with government databases, chain-of-custody information, and property details.</li>
                                <li>Streamlined administrative procedures as a notary public in the Booking and Releasing Unit, reducing processing time and enhancing operational efficiency for handling 100+ cases daily.</li>
                                <li>Managed customer concerns and grievances, offering clear information on procedural and technical matters.</li>
                                <li>Provided high-quality customer service and support to visitors, residents, various staff levels, and government officials.</li>

                            </div><!--//item-->
                         
                            <div class="item">
                                <h3 class="title">Care Coordinator - <span class="place"><a href="https://www.codac.org/services/mental-behavioral-health/">CODAC Behavioral Health Services</a></span> <span class="year">(2013 - 2014)</span></h3>
                                <li>Led guided hikes and community outings for young adult teams to foster bonding and personal growth.</li>
                                <li>Enhanced participants' connection to nature and physical well-being, as reported by themselves, through a collaborative and inclusive approach.</li>
                                <li>Received positive feedback from 90% of participating young adults, acknowledging improved motivation and teamwork skills.</li>

                            </div><!--//item-->
                         
                            <div class="item">
                                <h3 class="title">Vocational Counselor - <span class="place"><a href="https://www.devereux.org/site/SPageServer/?pagename=news">Devereux Advanced Behavioral Health</a></span> <span class="year">(2011 - 2012)</span></h3>
                                <li>Provided vocational training and group mentoring to youth offenders in a group-home setting.</li>
                                <li>Achieved significant improvement in vocational skills and job readiness, assessed through performance evaluations.</li>
                                <li>Noted an increase in participants' self-confidence and motivation for personal and professional growth, based on pre-and post-program surveys.</li>
                            </div><!--//item-->
                         
                            <div class="item">
                                <h3 class="title">Mental Health Worker - <span class="place"><a href="https://www.devereux.org/site/SPageServer/?pagename=news">Devereux Advanced Behavioral Health</a></span> <span class="year">(2010 - 2011)</span></h3>
                                <li>Employed evidence-based practices to counsel and monitor youth in a residential treatment facility.</li>
                                <li>Improved class participation, behavior expectations, and advocacy for individual differences, enhancing residential morale.</li>
                            </div><!--//item-->
                          
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section--><br /><br />
                
            </div><!--//primary-->
            <div class="secondary col-lg-4 col-12">
                 <aside class="info aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>Denver, Colorado</li>
                                <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:allenrusselldev@gmail.com">allenrusselldev@gmail.com</a></li>
                                <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="https://www.linkedin.com/in/garyallenrusselljr/">LinkedIn</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                <br />
                <aside class="skills aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                Applying 15+ years of transferrable skills from human-services, lifelong musician turned Software Engineer.  Tech stack outlined below:</p>
                            
                            <div class="skillset">
                               
                                <div class="item">
                                    <h3 class="level-title">Ruby &amp; Ruby on Rails</h3>

                                    <div class="level-bar progress">
									    <div class="progress-bar level-bar-inner" role="progressbar" style="width: 92%" aria-valuenow="96"  aria-valuemin="0" aria-valuemax="96"></div>
									</div><!--//level-bar-->                               
                                </div><!--//item-->
                                <br />
                                <div class="item">
                                    <h3 class="level-title">PostgreSQL &amp; ActiveRecord</h3>
                                    <div class="level-bar progress">
									    <div class="progress-bar level-bar-inner" role="progressbar" style="width: 80%" aria-valuenow="94"  aria-valuemin="0" aria-valuemax="94"></div>
									</div><!--//level-bar-->                                   
                                </div><!--//item-->
                                <br />
                                <div class="item">
                                    <h3 class="level-title">Python &amp; Django</h3>
                                    <div class="level-bar progress">
									    <div class="progress-bar level-bar-inner" role="progressbar" style="width: 74%" aria-valuenow="94"  aria-valuemin="0" aria-valuemax="94"></div>
									</div><!--//level-bar-->                                   
                                </div><!--//item-->
                                <div class="item">
                                    <h3 class="level-title">Java</h3>
                                    <div class="level-bar progress">
									    <div class="progress-bar level-bar-inner" role="progressbar" style="width: 60%" aria-valuenow="94"  aria-valuemin="0" aria-valuemax="94"></div>
									</div><!--//level-bar-->                                   
                                </div><!--//item-->
                                <br />
                                
                                <div class="item">
                                    <h3 class="level-title">JavaScript &amp; React</h3>
                                    <div class="level-bar progress">
									    <div class="progress-bar level-bar-inner" role="progressbar" style="width: 65%" aria-valuenow="86"  aria-valuemin="0" aria-valuemax="96"></div>
									</div><!--//level-bar-->                                  
                                </div><!--//item-->
                                <br />
                                <div class="item">
                                    <h3 class="level-title">HTML5, CSS3 &amp; Bootstrap, Tailwind</h3>
                                    <div class="level-bar progress">
									    <div class="progress-bar level-bar-inner" role="progressbar" style="width: 65%" aria-valuenow="93"  aria-valuemin="0" aria-valuemax="96"></div>
									</div><!--//level-bar-->                                  
                                </div><!--//item-->
                                <br />
                                <div class="item">
                                    <div class="exposure-container">
                                        <div class="column">
                                            <h3 class="level-title">Technical Competencies </h3>
                                                <ul class="exposure-list">
                                                    <li>Terraform </li>
                                                    <li>Docker </li>
                                                    <li>Kubernetes </li>
                                                    <li>AWS </li> 
                                                    <li>Google Cloud </li>
                                                    <li>Azure </li>
                                                    <li>GoLang </li>
                                                    <li>Java </li>
                                                    <li>IntelliJ </li>
                                                    <li>Gradle </li>
                                                    <li>Spring </li>
                                                    <li>React </li>
                                                    <li>C# </li>
                                                    <li>.NET </li>
                                                    <li>CircleCI </li> 
                                                    <li>CD/CI </li> 
                                                    <li>GitHub </li> 
                                                    <li>Git </li>
                                                    <li>GraphQL </li> 
                                                    <li>Heroku </li> 
                                                    <li>Render </li>
                                                    <li>Vercel </li>
                                                    <li>WebSockets </li>
                                                    <li>Postman </li> 
                                                    <li>RSpec </li> 
                                                    <li>User Authentication </li> 
                                                    <li>Accessibility </li> 
                                                    <li>OAuth </li>
                                                    <li>JSON </li>
                                                    <li>API </li>
                                                    <li>REST </li>
                                                    <li>Quality Assurance </li> 
                                                    <li>Service Oriented Architecture </li> 
                                                    <li>Sidekiq </li> 
                                                    <li>Redis </li>
                                                    <li>AI </li>
                                                    <li>CyberSecurity </li>
                                                    <li>Networking </li>
                                                </ul>
                                            </div>
                                        </div>
                                <p><a class="more-link" href="https://github.com/garussell"><i class="fas fa-external-link-alt"></i>More on GitHub</a></p> 
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                <br />
                <aside class="testimonials aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Testimonials</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fas fa-quote-left"></i>Allen is patient and thorough.  He is a team player and you can rely on him to be prepared and productive!</p>
                                </blockquote>                                                                           
                            </div><!--//item-->
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fas fa-quote-left"></i>I highly recommend Allen for his exceptional technical expertise in Ruby on Rails. His proficiency is evident in the seamless solutions he develops. Beyond his technical prowess, Allen's professional demeanor adds a commendable touch to collaborative efforts. He consistently steps outside his comfort zone, tackling challenging tasks with determination and delivering results that exceed expectations.</p>
                                </blockquote>                                                                           
                            </div><!--//item-->
                            <p><a class="more-link" href="https://www.linkedin.com/in/garyallenrusselljr/"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p> 
                            
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                <br />
                <aside class="education aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="item">                      
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> Certificate in Back-End Engineering</h3>
                                <h4 class="university">Turing School for Software and Design <span class="year">(2023)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> Master's Degree</h3>
                                <h4 class="university">Boston University <span class="year">(2012)</span></h4>
                            </div><!--//item-->
                            <div class="item">                      
                                <h3 class="title"><i class="fas fa-graduation-cap"></i> Bachelor of Arts </h3>
                                <h4 class="university">University of Colorado - Boulder <span class="year">(2010)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                <br />
                <aside class="languages aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li class="item">
                                    <span class="title"><strong>English:</strong></span>
                                    <span class="level">Native Speaker <br class="visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </span>
                                </li><!--//item-->
                                <li class="item">
                                    <span class="title"><strong>Spanish:</strong></span>
                                    <span class="level">Polite <br class="visible-sm visible-xs"/></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half"></i></span>
                                </li><!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                <br />
                <aside class="blog aside section">
                    <div class="section-inner shadow-sm rounded" style="display: flex; flex-direction: column;">
                        <h2 class="heading">Medium Blog Posts</h2>
                        <a href="https://medium.com/@allenrusselldev">
                        <div id="medium-article" class="medium-article"><%= image_tag('medium-article.png') %></div>  
                        </a>

                        <a href="https://medium.com/@allenrusselldev" target="_blank">Follow me on Medium</a></p>
                    </div><!--//section-inner-->
                </aside><!--//section-->
                <br />
                <aside class="list music aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Coding Music</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-headphones"></i> <a href="https://open.spotify.com/playlist/37i9dQZF1DXa2SPUyWl8Y5?si=0f6458a6088040ae">Beats to Think to</a></li>
                                <li><i class="fas fa-headphones"></i> <a href="https://open.spotify.com/playlist/37i9dQZF1DWXLeA8Omikj7?si=bfef1b15ab8c4e06">Brain Food</a></li>
                                <li><i class="fas fa-headphones"></i> <a href="https://open.spotify.com/artist/0lYoJnsYMVaAitj1pZVqER?si=nR-xpC8OR-CFyTyBEJL8hw">Ben Lucas Boysen</a></li>
                                <li><i class="fas fa-headphones"></i> <a href="https://open.spotify.com/playlist/37i9dQZF1E4ncl7Bh46ZnH?si=8f5b9274a0334086">Tigran Hamasyan Radio</a></li>
                                <li><i class="fas fa-headphones"></i> <a href="https://open.spotify.com/playlist/37i9dQZF1E8PV4ozC53P4G?si=ae68d9f9eb91461e">Expansive Radio</a></li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
             
                <%
=begin%>
 <aside class="list conferences aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Conferences</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="far fa-calendar-alt"></i> <a href="#" target="_blank">WWDC 2030</a> (San Francisco)</li>
                                <li><i class="far fa-calendar-alt"></i> <a href="#">Hive</a> (Seattle)</li>
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section--> 
<%
=end%>
                <br />
                <aside class="credits aside section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Credits</h2>
                        <div class="content">
                            <ul class="list-unstyled pb-2">
                                <li><a href="https://getbootstrap.com/" target="_blank"><i class="fas fa-external-link-alt"></i>Bootstrap</a></li>
                                <li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank"><i class="fas fa-external-link-alt"></i>FontAwesome</a></li>
                                <li><a href="https://github.com/coliff/dark-mode-switch"><i class="fas fa-external-link-alt"></i>Dark Mode Switch</a></li>
                                <li><a href="https://rubyonrails.org/" target="_blank"><i class="fas fa-external-link-alt"></i>Ruby on Rails</a></li>
                                
                            </ul>
                            
                            <hr/>
                            
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
               <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small> 
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <%= javascript_include_tag 'dark-mode-switch/dark-mode-switch.min' %>
</body>
</html> 

